<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">สิทธิ์การใช้งาน </h5>
    </div>
    <!-- Breadcrumb -->					<!-- /Breadcrumb -->
  </div>
  <!-- /Title -->
  
  <!-- Row -->
  <div class="row">
    <div class="col-sm-12"> </div>
  </div>
  <!-- /Row -->
  
  <!-- Row --> 
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-heading">
        <button class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="addPermis()"  data-whatever="@fat">เพิ่มสิทธิ์การใช้งาน</button>
          <div class="pull-left"> </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
<div class="table-wrap">
    <div class="table-responsive">
                <table id="datable1" class="table table-hover display  pb-30" >
                  <thead>
                    <tr>
                      <th><h5 class="panel-title">ชื่อสิทธิ์การใช้งาน</h5></th>
                      <th><h5 class="panel-title">สถานะ</h5></th>
                      <th><h5 class="panel-title">รหัสโรงงาน</h5></th>
                      <th><h5 class="panel-title"></h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of Permission;">
                      <td class="txt-dark">{{item.PermisName}}</td>
                      <!-- <td>{{item.IsActive}}</td> -->
                      <td><div [ngClass]="(item.Status=='เปิดการใช้งาน')?'label label-primary':'label label-danger'">{{item.Status}}</div></td>
                      <td class="txt-dark">{{item.FactoryCode}}</td>
                      <td> <button class="btn btn-primary btn-icon-anim btn-square btn-sm"  data-tooltip title="แก้ไข" data-toggle="modal" data-target="#exampleModal" (click)="onEditbtnClick(item.PermisID,item.PermisName,item.FactoryCode,item.IsActive)"><i class="fa fa-pencil"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="exampleModalLabel1">{{titlePopup}}</h5>
                    </div>
                    <div class="modal-body">
                      <form data-toggle="validator" role="form" name="form" data-disable="false" (ngSubmit)="onSave()">
                        <div class="form-group">
                          <label for="recipient-name" class="control-label mb-10">ชื่อสิทธิ์การใช้งาน:</label>
                          <input type="text" class="form-control" id="recipient-name1" name="permisname" [(ngModel)]="permisname" maxlength="100" placeholder="ชื่อสิทธิ์การใช้งาน" required>
						              <label class="txt-danger">{{txt_alertname}}</label>
                        </div>
                        <div class="form-group">
                          <label for="lblCapacity" class="control-label mb-10">โรงงาน:</label>
                          <select class="form-control required" [(ngModel)]="factorycode" name="factory" required>
                            <option value="-1" disabled>-- เลือกโรงงาน --</option>
                            <option *ngFor="let item of factory;" [value]="item.FactoryCode" [disabled]="!item.IsActive">{{item.FactoryName}}</option>
                          </select>
                          <label class="txt-danger">{{text_alertFactory}}</label>
                        </div>
                      <div class="form-group">
                        <div class="col-sm-4" *ngFor="let item of Menu">
                          <div class="radio-inline pl-10 text-center checkbox checkbox-primary">
                            <input type="checkbox" name="'checkbox_' + item.MenuID" [checked]="menucheck.indexOf(item.MenuID) >= 0" (change)="updateCheckedOptions(item, $event, item.MenuID)">
                            <label class="control-label mb-10">{{item.Menu}}</label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                      <div class="form-group">
                              <label class="control-label col-md-3 text-left">สถานะ</label>
                              <div class="col-md-9">
                                <div class="radio-list">
                                  <div class="radio-inline pl-0 text-center">
                                    <span class="radio radio-primary">									
                                      <input type="radio" name="radio7" id="radio_9" value="1" [(ngModel)]="status">
                                      <label for="radio_9">เปิดการใช้งาน</label>
                                    </span>
                                  </div>
                                  <div class="radio-inline pl-0">
                                    <span class="radio radio-primary">																				
                                      <input type="radio" name="radio7" id="radio_10" value="0" [(ngModel)]="status">
                                      <label for="radio_10">ปิดการใช้งาน</label>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="form-group ">
                          <button type="submit" class="btn btn-primary pull-right"  >{{mode}}</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer text-center">
                      <!-- <button type="submit" cclass="btn btn-primary" ng-disabled="form.$invalid"  (click)="onSave()" >{{mode}}</button> -->
                    </div>
                  </div>
                </div>
              </div>
              
            </div>	
          </div>	
        </div>	
        
      </div>	
    </div>
  </div>
 
  <!-- /Row -->
  
  <div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-alert">{{txtAlert}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
      
    </div>
  </div>
 