
<!-- Title -->
<div class="row heading-bg">
  <div class="col-lg-12 col-md-6 col-sm-6 col-xs-8">
    <p style="color:#960000;  font-size:40px;">รายการใบเสนอราคา Quatation List</p>
    
  </div>
  
  <!-- Breadcrumb -->					<!-- /Breadcrumb -->
</div>
<!-- /Title -->

<!-- Row -->
<div class="row">
    <div class="panel-heading">
        <button class="btn  btn-primary"  (click)="newOrder()"  >สร้างใบสั่งสินค้า</button>
          <div class="pull-left"> </div>
          <div class="clearfix"></div>
        </div>
</div>
<!-- /Row -->

<!-- Row --> 
<div class="row">

      
    
  <div class="col-sm-12">
    
    <!----><div class="panel  ">
      <div class="table-wrap">
        <div class="table-responsive">
                    <table id="dtOrder1" class="table table-hover display  pb-30" >
                        <thead>
                            <tr>
                              <th><h5 class="panel-title">Quotation No.</h5></th>
                              <th ><h5 class="panel-title">ชื่อลูกค้า</h5></th>
                              <th style="text-align:center"><h5 class="panel-title">รายการ</h5></th>
                              <th style="text-align:center"><h5 class="panel-title">วันที่</h5></th>
                              <th><h5 class="panel-title">ชื่อพนักงานขาย</h5></th>
                              <th ><h5 class="panel-title">แก้ไข</h5></th>
                              <th><h5 class="panel-title">พิมพ์</h5></th>
                            </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>10029900</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                              <tr>
                                  <td>10029901</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                              <tr>
                                  <td>10029902</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                              <tr>
                                  <td>10029903</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                              <tr>
                                  <td>10029904</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                              <tr>
                                  <td>10029905</td>
                                  <td>บริษัท ซีพี คอเปอร์เรชั่น จำกัด</td>
                                  <td>กล่องกระดาษ</td>
                                  <td>12-08-2019</td>
                                  <td>สถิตย์ ไตรรุ่ง</td>
                                  <td align="center"><a href="#">
                                      <span class="glyphicon glyphicon-edit" style="color:#b60808"></span> 
                                  </a></td>
                                  <td align="center"><a href="#">
                                      <span class="fas fa-print" style="color:#898a8a"></span> 
                                  </a></td>
                              </tr>
                          </tbody>
                        </table>
      
                  </div>	
              </div>
            </div>

<!-- /Row -->

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="modalConfirm" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ยกเลิกใบสั่งซื้อ</h4>
      </div>
      <div class="modal-body">
        <p class="text-alert">{{text_confirmcancel}}</p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary " (click)="confirmCancel()">ยืนยัน</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade bs-example-modal-sm" id="modalAlert" role="dialog">
    <div class="modal-dialog modal-sm">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <p class="modal-title">กรุณาเลือกวันที่เริ่มต้นน้อยกว่าวันที่สิ้นสุด</p>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">กรุณาเลือกวันที่เริ่มต้นน้อยกว่าวันที่สิ้นสุด</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
      
    </div>
  </div>

     <!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p class="text-alert">ยกเลิกข้อมูลเรียบร้อยแล้ว</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
      </div>
    </div>
    
  </div>
</div>

<!-- modal content -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="modalCancel" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h5 class="modal-title" id="myLargeModalLabel">ใบสั่งสินค้า</h5>
      </div>
      <div class="modal-body">
        <h5 class="mb-15">{{ordercancelText}}</h5>
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
              <div class="table-wrap" >
                <div class="table-responsive">
                  <table id="dtOrderItemCancel" class="table table-hover display  pb-30"  >
                    <thead>
                      <tr>
                        <th><h5 class="panel-title">ลำดับ</h5></th>
                        <th ><h5 class="panel-title">รหัสสินค้า</h5></th>
                        <th ><h5 class="panel-title">ชื่อสินค้า</h5></th>
                        <th style="text-align:right"><h5 class="panel-title">จำนวน</h5></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th></th>
                        <th></th>
                        <th style="text-align:right"><h5 class="panel-title">รวม :</h5></th>
                        <th style="text-align:right"><h5 class="panel-title">0</h5></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let item of orderitem;let i=index;" class="txt-dark">
                          <td >{{i+1}}</td>
                          <td >{{item.ProductCode}}</td>
                          <td >{{item.ProductName}}</td>
                          <td style="text-align:right">{{item.Qty}}</td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>	
          </div>	
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger text-left" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->