<div style="background-color: #666666;">
  <div class="limiter">
      <div class="container-login100">
          <div class="wrap-login100">
              <form class="login100-form validate-form">
                  <div class="row">
                      <div class="col-sm-12 col-xs-12">
                          <div class="text-center mb-20 mb-30" style="padding-top: 30px">
                              <img class="brand-img" src="/assets/content/dist/img/logo-centercon.png" alt="brand">
                              <h6 class="text-center nonecase-font " style="color: white"></h6>
                          </div>
                          <div class="mb-30 text-alert ">
                              <h4 class="txt-dark mb-10">Please Sign In</h4>
                              <h5 class="txt-dark mb-10">to Your Account</h5>
                              <h6 class="text-center nonecase-font txt-grey"></h6>
                          </div>
                          <div class="form-wrap">
                              <form action="#">
                                  <div class="form-group">
                                      <!--<label class="control-label mb-10 txt-dark" for="exampleInputEmail_2">ชื่อผู้ใช้งาน</label>
                                  <input type="email" class="form-control" required="" id="exampleInputEmail_2" placeholder="">-->
                                      <label class="control-label mb-10 txt-light" for="exampleInputEmail_2"><span style="color: #212121; ">Username</span></label>
                                      <input type="text" class="form-control" [(ngModel)]="login.username" name="username" id="exampleInputEmail_2" placeholder="Username" maxlength="20" required>
                                  </div>
                                  <div class="form-group">
                                      <!--<label class="pull-left control-label mb-10 txt-dark" for="exampleInputpwd_2">รหัสผ่าน</label>
                                  <div class="clearfix"></div>
                                  <input type="password" class="form-control" required="" id="exampleInputpwd_2" placeholder="">-->
                                      <label class="pull-left control-label mb-10 txt-light" for="exampleInputpwd_2"><span style="color: #212121; ">Password</span></label>
                                      <div class="clearfix"></div>
                                      <input type="password" class="form-control" [(ngModel)]="login.password" name="password" id="exampleInputpwd_2" maxlength="30" placeholder="Password" required>
                                  </div>
                                  <div class="form-group">
                                      <div class="clearfix"></div>
                                  </div>
                                  <div class="form-group text-center txt-dark ">
                                      <button type="submit" class="btn btn-primary " (click)="doLogin()">Sign in</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                  </div>
                  </form>
                  <div class="login100-more" style="background-image: url('assets/content/dist/img/center-container-bg.png');">
                  </div>
          </div>
      </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade bs-example-modal-md" id="myModal" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-alert">{{textalert}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
    
  </div>
</div>