<!-- Title -->
				
<!-- /Title -->
				
				<!-- Row -->
				<div class="row">
					<div class="col-md-12"> 
						<img class="imgresponsive" src="/assets/content/dist/img/112.png" >
					</div>
				</div>
				<!-- /Row -->
				
				<!-- Row --> 
				 <div class="row">
					
				</div>
				
				<!-- /Row -->