<!-- Title -->
<div class="row heading-bg">
  <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12">
    <h5 style="color:#960000; font-size: 36px" >ใบเสนอราคา New Quotation</h5>
  </div>
</div>
<!-- /Title -->

<!-- Row -->
<div class="row">
  <div class="col-sm-12"> </div>
</div>
<!-- /Row -->

<!-- Row --> 
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left"> </div>
        <div class="clearfix"></div>
      </div>
      <div class="row">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <div class="form-wrap">              

                    <div class="col-sm-3">
                      <div class="form-group">
                          <label class="control-label mb-10 text-left">เลขที่ Quotation No.</label>
                          <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="qnum" maxlength="20" placeholder="08817389909" >
                      </div>
                    </div>
                    <div class="col-sm-3">
                    <label class="control-label mb-10 text-left">วันที่ Date</label>
                        <div class='input-group date' id='datereq' data-provide="datepicker">
                          <input type='text' class="form-control" id="reqDate" [(ngModel)]="reqDate" name="reqDate" placeholder="28/05/2019" />
                          <span class="input-group-addon">
                            <span class="fas fa-calendar-alt"></span>
                          </span>
                        </div>
                    </div>
            </div>
          </div>
          <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label mb-10 text-left">ชื่อลูกค้า</label>
                  <input type="text" class="form-control" id="recipient-name1" name="cusname" [(ngModel)]="cusname" maxlength="20" placeholder="กรอกชื่อลูกค้า" >
              </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label class="control-label mb-10 text-left">เบอร์โทรศัพท์</label>
                    <input type="text" class="form-control" id="recipient-name1" name="custel" [(ngModel)]="custel" maxlength="20" placeholder="กรอกเบอร์โทรศัพท์ลูกค้า" >
                </div>
              </div><div class="col-sm-6">
                  <div class="form-group">
                      <label class="control-label mb-10 text-left">ที่อยู่</label>
                      <input type="text" class="form-control" id="recipient-name1" name="addr" [(ngModel)]="addr" maxlength="20" placeholder="กรอกที่อยู่ลูกค้า" >
                  </div>
                </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label class="control-label mb-10 text-left">ชื่อพนักงานขาย</label>
                <input type="text" class="form-control" id="recipient-name1" name="empname" [(ngModel)]="empname" maxlength="20" placeholder="กรอกชื่อพนักงาน" >
            </div>
          </div>
          <div class="col-sm-3">
              <div class="form-group">
                  <label class="control-label mb-10 text-left">เบอร์โทรศัพท์</label>
                  <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="emptel" maxlength="20" placeholder="กรอกเบอร์โทรศัพท์พนักงาน" >
              </div>
            </div><div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label mb-10 text-left">หมายเหตุ</label>
                    <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="desc" maxlength="20" placeholder="กรอกข้อมูลเพิ่มเติม" >
                </div>
              </div>
        </div>
        
      <div class="panel-wrapper collapse in">
        <div class="panel-body">
          <div class="table-wrap">
            <div class="table-responsive">
                <table id="example" class="table table-hover display  pb-30" >
                    <thead>
                      <tr>
                        <th ><h5 class="panel-title">#</h5></th>
                        <th ><h5 class="panel-title">รายการ</h5></th>
                        <th ><h5 class="panel-title">Code</h5></th>
                        <th ><h5 class="panel-title">ขนาดกล่อง (มม.)</h5></th>
                        <th ><h5 class="panel-title">กระดาษที่ใช้ (ลอน)</h5></th>
                        <th ><h5 class="panel-title">ราคา</h5></th>
                        <th ><h5 class="panel-title">เพิ่ม</h5></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <td ></td>
                        <th ></th>
                        <th ></th>
                        <th ></th><th ></th>
                        <th ></th>
                        <th style="text-align:right"><h5 class="panel-title">ยอดรวม : 0.00 บาท</h5></th>
                        <th class="panel-title" style="font-size: 16px;text-align:right;"></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      
                          <td >1</td>
                          <th >
                                  <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="order" maxlength="20" placeholder="กรอกรายการสินค้า" >
                          </th>
                          <th >
                              <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="code" maxlength="20" placeholder="รหัส" >
                          </th>
                          <th >
                              <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="dimension" maxlength="20" placeholder="ยาว/กว้าง/สูง" >
                          </th>
                          <th >
                          <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="papertype" maxlength="20" placeholder="กรอกกระดาษที่ใช้" >
                          </th> 
                          <th >
                          <input type="text" class="form-control" id="recipient-name1" name="orderref" [(ngModel)]="price" maxlength="20" placeholder="กรอกราคา">
                          </th>
                          <th>
                              <button class="btn btn-primary  btn-square btn-sm " (click)="edit(item.OrderNo,item.OrderIndex,item.RequiredDate)" ><i class="fas fa-plus-square" data-tooltip title="เพิ่มสินค้า" ></i></button> 
                          </th>
            
                    </tbody>
                </table>
            </div>
          </div>	
          <br>
          <div class="row">
              <div class="panel-wrapper collapse in">
                <div class="panel-body">
                  <div class="form-wrap">
                      <div class="col-md-4"></div>
                      <div class="col-md-2">
                          <button class="btn  btn-primary" style="width:100%" (click)="delOrderItem()">ยกเลิก</button>
                        </div>
                    
                    <div class="col-md-2">
                        <button class="btn  btn-primary" style="width:100% " (click)="addOrder()"> พิมพ์</button>
                    </div>
                    <div class="col-md-2">
                        <button class="btn  btn-primary" style="width:100%" (click)="cancel()">บันทึกใบเสนอราคา</button>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>	
      </div>	
      
    </div>	
  </div>
</div>

<!-- /Row -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="exampleModalLabel1">เพิ่มสินค้า</h5>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form" name="form">
            <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">สินค้า:</label>
                  <select class="form-control select2" [(ngModel)]="productid" name="productid" required>
                    <option value="-1" disabled>-- เลือกสินค้า --</option>
                    <option *ngFor="let item of product;" [value]="item.ProductIX" [disabled]="!item.IsActive">{{item.ProductName}}</option>
                  </select>
                  <label class="txt-danger">{{text_alert}}</label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label mb-10">จำนวน:</label>
              <input type="number" class="form-control" id="recipient-name1" name="qty" pattern="d" min="0" onKeyPress="if(this.value.length==6) return false;" [(ngModel)]="qty"  placeholder="จำนวน" required>
              <label class="txt-danger">{{text_alertQty}}</label>
            </div>
            <div class="form-group ">
              <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid"  (click)="onSave()" >เพิ่ม</button>
            </div>
          </form>
        </div>
        <div class="modal-footer text-center">
          <!-- <button type="submit" cclass="btn btn-primary" ng-disabled="form.$invalid"  (click)="onSave()" >{{mode}}</button> -->
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">{{text_alert}}</p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary " (click)="ok()">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="modalShow1" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">กรุณาเลือกวันที่ต้องการสินค้า</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="modalShow2" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">กรุณาเลือกสินค้า</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-sm" id="modalShow3" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">กรุณากรอกข้อมูล</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
    </div>
  </div>
