<!-- Title -->
<div class="row heading-bg">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h5 class="txt-dark">ใบสั่งสินค้า</h5>
  </div>
  <!-- Breadcrumb -->					<!-- /Breadcrumb -->
</div>
<!-- /Title -->

<!-- Row -->
<div class="row">
  <div class="col-sm-12"> </div>
</div>
<!-- /Row -->

<!-- Row --> 
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
        <div class="pull-left"> </div>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label><h5 class="panel-title">เลขที่ใบสั่งสินค้า {{orderno}} วันที่ต้องการสั่งสินค้า {{reqDate}}</h5></label>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body">
          <div class="table-wrap">
              <div class="table-responsive">
                <table id="example" class="table table-hover display select  pb-30" >
                    <thead>
                      <tr>
                        <th><input name="select_all" value="1" id="example-select-all" type="checkbox" /></th>
                        <th><h5 class="panel-title">ลำดับ</h5></th>
                        <th ><h5 class="panel-title">รหัสสินค้า</h5></th>
                        <th ><h5 class="panel-title">ชื่อสินค้า</h5></th>
                        <th style="text-align:right"><h5 class="panel-title">จำนวน</h5></th>
                        <th style="display:none;"></th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <!-- <th></th>
                        <th></th>
                        <th ></th> 
                         <th ></th>
                        <th ><h5 class="panel-title">รวม {{total}}</h5></th> -->
                        <th colspan="4" style="text-align:right"><h5 class="panel-title">รวม :</h5></th>
                        <th class="panel-title" style="font-size: 14px;text-align:right"></th>
                        <th style="display:none;"></th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr *ngFor="let item of orderitem;let i=index;"  class='txt-dark'>
                          <td ></td>
                          <td >{{i+1}}</td>
                          <td >{{item.ProductCode}}</td>
                          <td >{{item.ProductName}}</td>
                          <td style="text-align:right">{{item.Qty}}</td>
                          <td style="display:none;">{{item.ItemIndex}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
          </div>
        </div>	
      </div>
      <br><br>
          <div class="panel-wrapper collapse in">
            <div class="panel-body">
              <div class="form-wrap"> 
                <div class="row">
                    <div class="col-md-8 col-sm-6"></div>
                  <div class="col-md-2 col-sm-2">
                    <button class="btn btn-danger" style="width:100%" (click)="onUpdate()">ยกเลิกรายการ</button>
                  </div>
                  <div class="col-md-2 col-sm-2">
                      <button class="btn  btn-primary" style="width:100%" (click)="cancel()">ออกจากหน้านี้</button>
                  </div>
                </div>
               </div>
            </div>
          </div> 
      
    </div>	
  </div>
</div>



    <!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div> -->
      <div class="modal-body">
        <p class="text-alert">อัพเดทข้อมูลเรียบร้อยแล้ว</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
      </div>
    </div>
    
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalAlert" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div> -->
        <div class="modal-body">
          <p class="text-alert">คุณยังไม่ได้เลือกข้อมูลที่ต้องการยกเลิก</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
      
    </div>
  </div>

<!-- Modal -->
<div class="modal fade bs-example-modal-sm" id="modalConfirm" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">ยกเลิกใบสั่งซื้อ</h4>
      </div>
      <div class="modal-body">
        <p class="text-alert">ยืนยันการยกเลิก</p>
      </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary " (click)="confirmCancel()">ยืนยัน</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>