<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">สินค้า </h5>
    </div>
    <!-- Breadcrumb -->					<!-- /Breadcrumb -->
  </div>
  <!-- /Title -->
  
  <!-- Row -->
  <div class="row">
    <div class="col-sm-12"> </div>
  </div>
  <!-- /Row -->
  
  <!-- Row --> 
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-heading">
        <button class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="addProduct()"  data-whatever="@fat">เพิ่มสินค้า</button>
          <div class="pull-left"> </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
<div class="table-wrap">
    <div class="table-responsive">
                <table id="dtProduct" class="table table-hover display  pb-30" >
                  <thead>
                    <tr>
                      <th><h5 class="panel-title">รหัสสินค้า</h5></th>
                      <th><h5 class="panel-title">ชื่อสินค้า</h5></th>
                      <th><h5 class="panel-title">กลุ่มสินค้า</h5></th>
                      <th><h5 class="panel-title">รหัสโรงงาน</h5></th>
                      <th><h5 class="panel-title">สถานะ</h5></th>
                      <th style="width:10%"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of product">
                        <td class="txt-dark">{{item.ProductCode}}</td>
                        <td class="txt-dark">{{item.ProductName}}</td>
                      <td class="txt-dark">{{item.GroupName}}</td>
                      <td class="txt-dark">{{item.FactoryCode}}</td>
                      <td><div [ngClass]="(item.Status=='เปิดการใช้งาน')?'label label-primary':'label label-danger'">{{item.Status}}</div></td>
                      <td> <button class="btn btn-primary btn-icon-anim btn-square btn-sm" data-tooltip title="แก้ไข"  data-toggle="modal" data-target="#exampleModal" (click)="onEditbtnClick(item.ProductIX,item.ProductCode,item.ProductName,item.IsActive,item.GroupID,item.FactoryCode)"><i class="fa fa-pencil"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              
            </div>	
          </div>	
        </div>	
        
      </div>	
    </div>
  </div>
 
  <!-- /Row -->
 
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="exampleModalLabel1">{{titlePopup}}</h5>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form" name="form">
            <div class="form-group">
                  <label for="recipient-name" class="control-label mb-10">รหัสสินค้า:</label>
                  <input type="text" class="form-control" id="recipient-name1" name="productcode" [disabled]="isEdit" [(ngModel)]="prodcode" placeholder="รหัสสินค้า" maxlength="10" required>
                  <label class="txt-danger">{{txt_alertcode}}</label>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="control-label mb-10">ชื่อสินค้า:</label>
              <input type="text" class="form-control" id="recipient-name1" name="productname" maxlength="50" [(ngModel)]="prodname"  placeholder="ชื่อสินค้า" required>
              <label class="txt-danger">{{txt_alertname}}</label>
            </div>
            <div class="form-group">
              <label for="lblCapacity" class="control-label mb-10">กลุ่มสินค้า:</label>
              <select class="form-control required" [(ngModel)]="groupid" name="productgroup" required>
                <option value="-1" disabled>-- เลือกกลุ่มสินค้า --</option>
                <option *ngFor="let item of productgroup;" [value]="item.GroupID" [disabled]="!item.IsActive">{{item.GroupName}}</option>
              </select>
              <label class="txt-danger">{{text_alert}}</label>
            </div>
            <div class="form-group">
              <label for="lblCapacity" class="control-label mb-10">โรงงาน:</label>
              <select class="form-control required" [(ngModel)]="factorycode" name="factory" required>
                <option value="-1" disabled>-- เลือกโรงงาน --</option>
                <option *ngFor="let item of factory;" [value]="item.FactoryCode" [disabled]="!item.IsActive">{{item.FactoryName}}</option>
              </select>
              <label class="txt-danger">{{text_alertFactory}}</label>
            </div>
          <div class="form-group">
                  <label class="control-label col-md-3 text-left">สถานะ</label>
                  <div class="col-md-9">
                    <div class="radio-list">
                      <div class="radio-inline pl-0 text-center">
                        <span class="radio radio-primary">									
                          <input type="radio" name="radio7" id="radio_9" value="1" [(ngModel)]="status">
                          <label for="radio_9">เปิดการใช้งาน</label>
                        </span>
                      </div>
                      <div class="radio-inline pl-0">
                        <span class="radio radio-primary">																				
                          <input type="radio" name="radio7" id="radio_10" value="0" [(ngModel)]="status">
                          <label for="radio_10">ปิดการใช้งาน</label>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="form-group ">
              <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid"  (click)="onSave()" >บันทึก</button>
            </div>
          </form>
        </div>
        <div class="modal-footer text-center">
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-alert">{{txtAlert}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
      
    </div>
  </div>