<!-- Title -->
<div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark">ผู้ใช้งาน </h5>
    </div>
    <!-- Breadcrumb -->					<!-- /Breadcrumb -->
  </div>
  <!-- /Title -->
  
  <!-- Row -->
  <div class="row">
    <div class="col-sm-12"> </div>
  </div>
  <!-- /Row -->
  
  <!-- Row --> 
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-heading">
        <button class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="addUser()"  data-whatever="@fat">เพิ่มผู้ใช้งาน</button>
          <div class="pull-left"> </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
<div class="table-wrap">
    <div class="table-responsive">
                <table id="dtUser" class="table table-hover display  pb-30" >
                  <thead>
                    <tr>
                      <th><h5 class="panel-title">ชื่อบัญชีผู้ใช้งาน</h5></th>
                      <th><h5 class="panel-title">ชื่อผู้ใช้งาน</h5></th>
                      <th><h5 class="panel-title">สิทธิ์การใช้งาน</h5></th>
                      <th><h5 class="panel-title">สถานะ</h5></th>
                      <th><h5 class="panel-title"></h5></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of user">
                        <td class="txt-dark">{{item.UserName}}</td>
                        <td class="txt-dark">{{item.FullName}}</td>
                      <td class="txt-dark">{{item.PermisName}}</td>
					  <td><div [ngClass]="(item.Status=='เปิดการใช้งาน')?'label label-primary':'label label-danger'">{{item.Status}}</div></td>
                      <td> <button class="btn btn-primary btn-icon-anim btn-square btn-sm"  data-tooltip title="แก้ไข"  data-toggle="modal" data-target="#exampleModal" (click)="onEditbtnClick(item.UserID,item.UserName,item.FullName,item.Password,item.PermisID,item.IsActive)"><i class="fa fa-pencil"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h5 class="modal-title" id="exampleModalLabel1">{{titlePopup}}</h5>
                    </div>
                    <div class="modal-body">
                      <form data-toggle="validator" role="form" name="form" data-disable="false" (ngSubmit)="onSave()">
                        <div class="form-group" ng-disabled="button">
                              <label for="recipient-name" class="control-label mb-10">ชื่อบัญชีผู้ใช้งาน:</label>
                              <input type="text" class="form-control" id="recipient-name1" name="username" [(ngModel)]="username" [disabled]="isEdit" placeholder="ชื่อบัญชีผู้ใช้งาน" maxlength="10" required >
                              <label class="txt-danger">{{txt_alertcode}}</label>
                        </div>
                        <div class="form-group">
                          <label for="recipient-name" class="control-label mb-10">ชื่อผู้ใช้งาน:</label>
                          <input type="text" class="form-control" id="recipient-name1" name="fullname" maxlength="50" [(ngModel)]="fullname"  placeholder="ชื่อผู้ใช้งาน" required>
                          <label class="txt-danger">{{txt_alertname}}</label>
                        </div>
						<div class="form-group">
                          <label for="recipient-name" class="control-label mb-10">รหัสผ่าน:</label>
                          <input type="password" class="form-control" id="recipient-name1" name="password" maxlength="50" [(ngModel)]="password"  placeholder="รหัสผ่าน" required>
                          <label class="txt-danger">{{txt_alertpw}}</label>
                        </div>
                        <div class="form-group">
                          <label for="lblCapacity" class="control-label mb-10">สิทธิ์การใช้งาน:</label>
                          <select class="form-control required" [(ngModel)]="permisid" name="permis" required>
                            <option value="-1" disabled>-- เลือกสิทธิ์การใช้งาน --</option>
                            <option *ngFor="let item of permis;" [value]="item.PermisID" [disabled]="!item.IsActive">{{item.PermisName}}</option>
                          </select>
                          <label class="txt-danger">{{text_alert}}</label>
                        </div>
                      <div class="form-group">
                              <label class="control-label col-md-3 text-left">สถานะ</label>
                              <div class="col-md-9">
                                <div class="radio-list">
                                  <div class="radio-inline pl-0 text-center">
                                    <span class="radio radio-primary">									
                                      <input type="radio" name="radio7" id="radio_9" value="1" [(ngModel)]="status">
                                      <label for="radio_9">เปิดการใช้งาน</label>
                                    </span>
                                  </div>
                                  <div class="radio-inline pl-0">
                                    <span class="radio radio-primary">																				
                                      <input type="radio" name="radio7" id="radio_10" value="0" [(ngModel)]="status">
                                      <label for="radio_10">ปิดการใช้งาน</label>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        <div class="form-group ">
                          <button type="submit" class="btn btn-primary pull-right" >{{button}}</button>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer text-center">
                      <!-- <button type="submit" cclass="btn btn-primary" ng-disabled="form.$invalid"  (click)="onSave()" >{{mode}}</button> -->
                    </div>
                  </div>
                </div>
              </div>
              
            </div>	
          </div>	
        </div>	
        
      </div>	
    </div>
  </div>
 
  <!-- /Row -->
  
  <div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
    <div class="modal-dialog ">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-alert">{{txtAlert}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
        </div>
      </div>
      
    </div>
  </div>
 
