<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Kanit&display=swap" rel="stylesheet">


<!--Preloader-->
<div class="preloader-it">
	<div class="la-anim-1"></div>
</div>
<!--/Preloader-->
	<div class="wrapper theme-1-active pimary-color-green" >
		  <!-- Top Menu Items   <nav class="navbar navbar-inverse navbar-fixed-top"  style="height: 9%; border-color: transparent;">   <div class="nav-header pull-left" style=" padding-left:4px;">-->
	<nav class="navbar navbar-inverse navbar-fixed-top" >
		<div id="mobile_only_nav" class="mobile-only-nav pull-right">
				<ul class="nav navbar-right top-nav pull-right">
					<li>
						<a id="open_right_sidebar" href="#"></a>
					</li>
					<li class="dropdown app-drp">
						
					</li>
					
					
					<li class="dropdown auth-drp">
						<a href="#" class="" data-toggle="dropdown"><span>{{fullname}}&nbsp;&nbsp;</span><img src="/assets/content/dist/img/user1.png"  alt="user_auth" class="user-auth-img img-circle"/></a>
						<ul class="dropdown-menu user-auth-dropdown" >
							<li>
								<a href="#" (click)="logout()"><i class="zmdi zmdi-power"></i><span>ออกจากระบบ</span></a>
							</li>
						</ul>
					</li>
				</ul>
			</div>	
			<br>
			<div class="logo-wrap" >
					<a href="index.html">
						<img class="brand-img"   src="/assets/content/dist/img/1112.png" alt="brand"/>
					</a>
			</div>
			
			
		<div class="mobile-only-brand" >
			<div class="nav-header navbar-fixed-top" style=" padding-left:4px;">
			</div>	
		</div>
		
	</nav>
	<!-- /Top Menu Items -->
	
	<!-- Left Sidebar Menu <ul class="nav navbar-nav side-nav nicescroll-bar" style="background-color:#960000; margin-top: 10%">-->
	<div class="fixed-sidebar-left" >
		<ul class="nav navbar-nav side-nav fixed-sidebar-left" style="background-color:#960000;">
			<li class="navigation-header"> <br>
			</li>
			<li>
				<a href="#" routerLink="/main" >
				<em class="fas fa-th-large mr-10" ></em><a class="right-nav-text" style="color:white; font-family: 'Kanit', sans-serif;">HOME</a>
				</a>
			</li>
			<li *ngIf="m_order">
				<a routerLink="/order"  >
				<em class="fas fa-clipboard-list mr-10"></em><a class="right-nav-text" style="color:white; font-family: 'Kanit', sans-serif;">Quotation</a>
				</a>
			</li>
			<li *ngIf="m_product">
				<a routerLink="/product" >
				<em class="far fa-file-alt mr-10" ></em><a class="right-nav-text" style="color:white; font-family: 'Kanit', sans-serif;">Sale Order</a>
				</a>
			</li>
			<li *ngIf="m_productgroup"> 
				<a  routerLink="/productgroup" >
				<em class="far fa-list-alt mr-10"></em><a class="right-nav-text" style="color:white; font-family: 'Kanit', sans-serif;">Master Card</a>
				</a>
			</li>
			
			<li *ngIf="m_productiongroup" >
				<a href="" routerLink="/main" >
				<em class="far fa-calendar-alt mr-10" ></em><a class="right-nav-text" style="color:white; font-family: 'Kanit', sans-serif;">Production Planing</a></a>
			</li>
		</ul>
	</div>
	<!-- /Left Sidebar Menu -->
	
	<!-- Right Sidebar Menu -->
	
	<div class="fixed-sidebar-right">
		<ul class="right-sidebar">
			<li>
				<div  class="tab-struct custom-tab-1">
					<ul role="tablist" class="nav nav-tabs" id="right_sidebar_tab">
						<li class="active" role="presentation"><a aria-expanded="true"  data-toggle="tab" role="tab" id="chat_tab_btn" href="#chat_tab">chat</a></li>
						<li role="presentation" class=""><a  data-toggle="tab" id="messages_tab_btn" role="tab" href="#messages_tab" aria-expanded="false">messages</a></li>
						<li role="presentation" class=""><a  data-toggle="tab" id="todo_tab_btn" role="tab" href="#todo_tab" aria-expanded="false">todo</a></li>
					</ul>
					<div class="tab-content" id="right_sidebar_content">
						<div  id="chat_tab" class="tab-pane fade active in" role="tabpanel">
							<div class="chat-cmplt-wrap">
								<div class="chat-box-wrap">
									<div class="add-friend">
										<a href="javascript:void(0)" class="inline-block txt-grey">
											<i class="zmdi zmdi-more"></i>
										</a>	
										<span class="inline-block txt-dark">users</span>
										<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
										<div class="clearfix"></div>
									</div>
									<form role="search" class="chat-search pl-15 pr-15 pb-15">
										<div class="input-group">
											<input type="text" id="example-input1-group2" name="example-input1-group2" class="form-control" placeholder="Search">
											<span class="input-group-btn">
											<button type="button" class="btn  btn-default"><i class="zmdi zmdi-search"></i></button>
											</span>
										</div>
									</form>
									<div id="chat_list_scroll">
										<div class="nicescroll-bar" >
											<ul class="chat-list-wrap">
												<li class="chat-list">
													<div class="chat-body">
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Clay Masse</span>
																	<span class="time block truncate txt-grey">No one saves us but ourselves.</span>
																</div>
																<div class="status away"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user1.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Evie Ono</span>
																	<span class="time block truncate txt-grey">Unity is strength</span>
																</div>
																<div class="status offline"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user2.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Madalyn Rascon</span>
																	<span class="time block truncate txt-grey">Respect yourself if you would have others respect you.</span>
																</div>
																<div class="status online"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user3.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Mitsuko Heid</span>
																	<span class="time block truncate txt-grey">I’m thankful.</span>
																</div>
																<div class="status online"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Ezequiel Merideth</span>
																	<span class="time block truncate txt-grey">Patience is bitter.</span>
																</div>
																<div class="status offline"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user1.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Jonnie Metoyer</span>
																	<span class="time block truncate txt-grey">Genius is eternal patience.</span>
																</div>
																<div class="status online"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user2.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Angelic Lauver</span>
																	<span class="time block truncate txt-grey">Every burden is a blessing.</span>
																</div>
																<div class="status away"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user3.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Priscila Shy</span>
																	<span class="time block truncate txt-grey">Wise to resolve, and patient to perform.</span>
																</div>
																<div class="status online"></div>
																<div class="clearfix"></div>
															</div>
														</a>
														<a href="javascript:void(0)">
															<div class="chat-data">
																<img class="user-img img-circle"  src="/assets/content/dist/img/user4.png" alt="user"/>
																<div class="user-data">
																	<span class="name block capitalize-font">Linda Stack</span>
																	<span class="time block truncate txt-grey">Our patience will achieve more than our force.</span>
																</div>
																<div class="status away"></div>
																<div class="clearfix"></div>
															</div>
														</a>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="recent-chat-box-wrap">
									<div class="recent-chat-wrap">
										<div class="panel-heading ma-0">
											<div class="goto-back">
												<a  id="goto_back" href="javascript:void(0)" class="inline-block txt-grey">
													<i class="zmdi zmdi-chevron-left"></i>
												</a>	
												<span class="inline-block txt-dark">ryan</span>
												<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-more"></i></a>
												<div class="clearfix"></div>
											</div>
										</div>
										<div class="panel-wrapper collapse in">
											<div class="panel-body pa-0">
												<div class="chat-content">
													<ul class="nicescroll-bar pt-20">
														<li class="friend">
															<div class="friend-msg-wrap">
																<img class="user-img img-circle block pull-left"  src="/assets/content/dist/img/user.png" alt="user"/>
																<div class="msg pull-left">
																	<p>Hello Jason, how are you, it's been a long time since we last met?</p>
																	<div class="msg-per-detail text-right">
																		<span class="msg-time txt-grey">2:30 PM</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															</div>	
														</li>
														<li class="self mb-10">
															<div class="self-msg-wrap">
																<div class="msg block pull-right"> Oh, hi Sarah I'm have got a new job now and is going great.
																	<div class="msg-per-detail text-right">
																		<span class="msg-time txt-grey">2:31 pm</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															</div>	
														</li>
														<li class="self">
															<div class="self-msg-wrap">
																<div class="msg block pull-right">  How about you?
																	<div class="msg-per-detail text-right">
																		<span class="msg-time txt-grey">2:31 pm</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															</div>	
														</li>
														<li class="friend">
															<div class="friend-msg-wrap">
																<img class="user-img img-circle block pull-left"  src="/assets/content/dist/img/user.png" alt="user"/>
																<div class="msg pull-left"> 
																	<p>Not too bad.</p>
																	<div class="msg-per-detail  text-right">
																		<span class="msg-time txt-grey">2:35 pm</span>
																	</div>
																</div>
																<div class="clearfix"></div>
															</div>	
														</li>
													</ul>
												</div>
												<div class="input-group">
													<input type="text" id="input_msg_send" name="send-msg" class="input-msg-send form-control" placeholder="Type something">
													<div class="input-group-btn emojis">
														<div class="dropup">
															<button type="button" class="btn  btn-default  dropdown-toggle" data-toggle="dropdown" ><i class="zmdi zmdi-mood"></i></button>
															<ul class="dropdown-menu dropdown-menu-right">
																<li><a href="javascript:void(0)">Action</a></li>
																<li><a href="javascript:void(0)">Another action</a></li>
																<li class="divider"></li>
																<li><a href="javascript:void(0)">Separated link</a></li>
															</ul>
														</div>
													</div>
													<div class="input-group-btn attachment">
														<div class="fileupload btn  btn-default"><i class="zmdi zmdi-attachment-alt"></i>
															<input type="file" class="upload">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
							
						<div id="messages_tab" class="tab-pane fade" role="tabpanel">
							<div class="message-box-wrap">
								<div class="msg-search">
									<a href="javascript:void(0)" class="inline-block txt-grey">
										<i class="zmdi zmdi-more"></i>
									</a>	
									<span class="inline-block txt-dark">messages</span>
									<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-search"></i></a>
									<div class="clearfix"></div>
								</div>
								<div class="set-height-wrap">
									<div class="streamline message-box nicescroll-bar">
										<a href="javascript:void(0)">
											<div class="sl-item unread-message">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Clay Masse</span>
													<span class="inline-block font-11  pull-right message-time">12:28 AM</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">templatemonster message sent via your templatemonster market profile</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsu messm quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user1.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Evie Ono</span>
													<span class="inline-block font-11  pull-right message-time">1 Feb</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">Pogody theme support</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user2.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Madalyn Rascon</span>
													<span class="inline-block font-11  pull-right message-time">31 Jan</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">Congratulations from design nominees</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item unread-message">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user3.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Ezequiel Merideth</span>
													<span class="inline-block font-11  pull-right message-time">29 Jan</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">templatemonster item support message</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item unread-message">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user4.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Jonnie Metoyer</span>
													<span class="inline-block font-11  pull-right message-time">27 Jan</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">Help with beavis contact form</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Priscila Shy</span>
													<span class="inline-block font-11  pull-right message-time">19 Jan</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject">Your uploaded theme is been selected</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
										<a href="javascript:void(0)">
											<div class="sl-item">
												<div class="sl-avatar avatar avatar-sm avatar-circle">
													<img class="img-responsive img-circle" src="/assets/content/dist/img/user1.png" alt="avatar"/>
												</div>
												<div class="sl-content">
													<span class="inline-block capitalize-font   pull-left message-per">Linda Stack</span>
													<span class="inline-block font-11  pull-right message-time">13 Jan</span>
													<div class="clearfix"></div>
													<span class=" truncate message-subject"> A new rating has been received</span>
													<p class="txt-grey truncate">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</p>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div  id="todo_tab" class="tab-pane fade" role="tabpanel">
							<div class="todo-box-wrap">
								<div class="add-todo">
									<a href="javascript:void(0)" class="inline-block txt-grey">
										<i class="zmdi zmdi-more"></i>
									</a>	
									<span class="inline-block txt-dark">todo list</span>
									<a href="javascript:void(0)" class="inline-block text-right txt-grey"><i class="zmdi zmdi-plus"></i></a>
									<div class="clearfix"></div>
								</div>
								<div class="set-height-wrap">
									<!-- Todo-List -->
									<ul class="todo-list nicescroll-bar">
										<li class="todo-item">
											<div class="checkbox checkbox-default">
												<input type="checkbox" id="checkbox01"/>
												<label for="checkbox01">Record The First Episode</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
										<li class="todo-item">
											<div class="checkbox checkbox-pink">
												<input type="checkbox" id="checkbox02"/>
												<label for="checkbox02">Prepare The Conference Schedule</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
										<li class="todo-item">
											<div class="checkbox checkbox-warning">
												<input type="checkbox" id="checkbox03" checked/>
												<label for="checkbox03">Decide The Live Discussion Time</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
										<li class="todo-item">
											<div class="checkbox checkbox-success">
												<input type="checkbox" id="checkbox04" checked/>
												<label for="checkbox04">Prepare For The Next Project</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
										<li class="todo-item">
											<div class="checkbox checkbox-danger">
												<input type="checkbox" id="checkbox05" checked/>
												<label for="checkbox05">Finish Up AngularJs Tutorial</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
										<li class="todo-item">
											<div class="checkbox checkbox-purple">
												<input type="checkbox" id="checkbox06" checked/>
												<label for="checkbox06">Finish Infinity Project</label>
											</div>
										</li>
										<li>
											<hr class="light-grey-hr"/>
										</li>
									</ul>
									<!-- /Todo-List -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	
	<!-- /Right Sidebar Menu -->
	
	
	
	<!-- Right Sidebar Backdrop -->
	<div class="right-sidebar-backdrop"></div>
	<!-- /Right Sidebar Backdrop -->

	<!-- Main Content -->
	<div class="page-wrapper">
		<div class="container-fluid">
				<router-outlet></router-outlet>
			
		</div>
		
		<!-- Footer 
		<footer class="footer container-fluid pl-30 pr-30">
			<div class="row">
				<div class="col-sm-12">
					<p>Copyright © Dynasty Ceramic Public Company Limited, 2019.</p>
				</div>
			</div>
		</footer>
		 /Footer -->
		
	</div>
	<!-- /Main Content -->

	</div>
	<!-- /#wrapper -->

