<!-- Title -->
<div class="row heading-bg">
  <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
    <h5 class="txt-dark">ข้อมูลลูกค้า </h5>
  </div>
  <!-- Breadcrumb -->					<!-- /Breadcrumb -->
</div>
<!-- /Title -->

<!-- Row -->
<div class="row">
  <div class="col-sm-12"> </div>
</div>
<!-- /Row -->

<!-- Row --> 
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default card-view">
      <div class="panel-heading">
      <button class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="addCustomer()"  data-whatever="@fat">เพิ่มข้อมูลลูกค้า</button>
        <div class="pull-left"> </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-wrapper collapse in">
        <div class="panel-body">
<div class="table-wrap">
  <div class="table-responsive">
              <table id="datable1" class="table table-hover display  pb-30" >
                <thead>
                  <tr>
                    <th><h5 class="panel-title">รหัสลูกค้า</h5></th>
                    <th><h5 class="panel-title">ชื่อลูกค้า</h5></th>
                    <th><h5 class="panel-title">ที่อยู่</h5></th>
                    <th><h5 class="panel-title">เบอร์โทร</h5></th>
                    <th><h5 class="panel-title">สถานะ</h5></th>
                    <th style="width:10%"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of customers;">
                    <td class="txt-dark">{{item.CustCode}}</td>
                    <td  class="txt-dark">{{item.CustName}}</td>
                    <td  class="txt-dark">{{item.CustAddr}}</td>
                    <td  class="txt-dark">{{item.CustTel}}</td>
                    <!-- <td>{{item.IsActive}}</td> -->
                    <td><div [ngClass]="(item.Status=='เปิดการใช้งาน')?'label label-primary':'label label-danger'">{{item.Status}}</div></td>
                    <td> <button class="btn btn-primary btn-icon-anim btn-square btn-sm" data-tooltip title="แก้ไข"  data-toggle="modal" data-target="#exampleModal" (click)="onEditbtnClick(item.CustIndex,item.CustCode,item.CustName,item.CustAddr,item.CustTel,item.IsActive)"><i class="fa fa-pencil"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            
            
          </div>	
        </div>	
      </div>	
      
    </div>	
  </div>
</div>

<!-- /Row -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h5 class="modal-title" id="exampleModalLabel1">{{titlePopup}}</h5>
      </div>
      <div class="modal-body">
        <form data-toggle="validator" role="form" name="form">
            <div class="form-group">
                <label for="recipient-name" class="control-label mb-10">รหัสลูกค้า:</label>
                <input type="text" class="form-control" id="recipient-name1" name="custcode" [disabled]="isEdit" [(ngModel)]="custcode" maxlength="6" placeholder="รหัสลูกค้า" required>
                <label class="txt-danger">{{txt_alertcode}}</label>
              </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label mb-10">ชื่อลูกค้า:</label>
            <input type="text" class="form-control" id="recipient-name1" name="custname" [(ngModel)]="custname" maxlength="50" placeholder="ชื่อลูกค้า" required>
            <label class="txt-danger">{{txt_alertname}}</label>
          </div>
          <div class="form-group">
            <label for="lblCapacity" class="control-label mb-10">ที่อยู่:</label>
            <!-- <input type="text"  class="form-control" id="recipient-name1" name="custaddr" [(ngModel)]="custaddr"  maxlength="255"  placeholder="ที่อยู่"> -->
            <textarea name="custaddr" class="form-control" id="recipient-name1" cols="40" rows="5" [(ngModel)]="custaddr"  maxlength="255"  placeholder="ที่อยู่"></textarea>
          </div>
          <div class="form-group">
              <label for="lblCapacity" class="control-label mb-10">เบอร์โทร:</label>
              <input type="text"  class="form-control" id="recipient-name1" name="custtel" [(ngModel)]="custtel"  maxlength="20"  placeholder="เบอร์โทร">
              
            </div>
        <div class="form-group">
                <label class="control-label col-md-3 text-left">สถานะ</label>
                <div class="col-md-9">
                  <div class="radio-list">
                    <div class="radio-inline pl-0 text-center">
                      <span class="radio radio-primary">									
                        <input type="radio" name="radio7" id="radio_9" value="1" [(ngModel)]="status">
                        <label for="radio_9">เปิดการใช้งาน</label>
                      </span>
                    </div>
                    <div class="radio-inline pl-0">
                      <span class="radio radio-primary">																				
                        <input type="radio" name="radio7" id="radio_10" value="0" [(ngModel)]="status">
                        <label for="radio_10">ปิดการใช้งาน</label>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          <div class="form-group ">
            <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid"  (click)="onSave()" >บันทึก</button>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <!-- <button type="submit" cclass="btn btn-primary" ng-disabled="form.$invalid"  (click)="onSave()" >{{mode}}</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" id="modalShow" role="dialog">
  <div class="modal-dialog ">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-alert">{{txtAlert}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">ตกลง</button>
      </div>
    </div>
    
  </div>
</div>